<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}User login/registration/rescue process{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css">
		div.forma {
			position: absolute;
			top: 35%;
			left: 35%;
			vertical-align: middle;
			background-color: #f3f3f3;
			height: auto;
			width: 300px;
			padding: 10px;
			border: 2px double black;
		}
	</style>
	{% block scripts %}{% endblock %}
</head>
<body>
	<h2 align="center"><a href="{% url index %}" style="text-decoration: none; color: black;">{% trans "Test project" %}</a></h2>
	<h5 align="center">
		{% if user.is_authenticated %}
			{% trans "Hello" %}&nbsp;<strong>{{ .user.first_name }}&nbsp;{{ user.last_name }}&nbsp;({{ user.username }})</strong>&nbsp;
				<a href="{% url my-profile %}">{% trans "Profile" %}</a>&nbsp;
				<a href="{% url auth_logout %}">{% trans "Work off" %}</a>
		{% else %}
			<a href="{% url auth_login %}">{% trans "Login" %}</a>&nbsp;
			<a href="{% url registration_register %}">{% trans "Register" %}</a>
		{% endif %}
	</h5>
	<div>{% block content %}{% endblock %}</div>
</script>
</body>
</html>